$icon-font-path: "../vendor/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../vendor/font-awesome/fonts";

// bower:scss
// endbower

// inject:scss
// endinject

/**
 * SASS Mixins/Functions
 */
@mixin palette($bg, $color) {
    background-color: $bg;
    color: $color;
}

body{
	font-family: 'Open Sans', sans-serif;
    background-color: $primary-color;
    color: $font-color;
}

h1,h2,h3,h4,h5{
    color: $alt-font-color;
}

.wrapper{
	padding: 24px;
	padding-left: 64px;
	margin-top: 24px;
}